{
    email {$ACME_EMAIL}
}

*.{$DOMAIN} {
    tls {
        dns cloudflare {$CLOUDFLARE_API_TOKEN}
        resolvers 1.1.1.1
    }
}

adguard.aanushh.com {
    reverse_proxy adguard:3000
}

karakeep.aanushh.com {
    reverse_proxy karakeep-web:3000
}

silverbullet.{$DOMAIN} {
    reverse_proxy silverbullet:3000
}